*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.panda-slide-bg{
    background-color: #fceae8;
}

.categories img{
    width:100px;
    padding: 10px;
}
.title{
    font-size: 40px;
}
.button{
    background-color:#ff3182 ;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
}

.button h1{
    color: #ff3182;
}
.shoes button{
    background-color: #ff3182;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
}
.bags button{
    background-color: #ff3182;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
}
.subscribe button{
    background-color: #ff3182;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
}
.subscribe{
    background-color:#fceae8;
}